{% extends "base.html" %}



{% block content %}

    {{ super() }}

    <div class="content-page">

        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">


                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">

                            <h1 class="main-title float-left">导出Excel表格</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Tooltips and Popovers</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <div class="alert alert-success" role="alert">
                                <label for="name">导出界面</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3>通勤线路----导出文件----</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group ">
                                    <table>
                                        <tr>
                                            <th>执行内容</th>
                                            <th> 按 钮</th>
                                        </tr>
                                        <tr>
                                            <td>导出站点统计：</td>
                                            <td>
                                                <form action="{{ url_for('commute.station_calculation') }}"
                                                      method='GET'>
                                                    <input type="submit" value="站点统计" class="btn btn-primary"
                                                           style="margin-top:15px;"/>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div><!-- end card-->
                    </div>
                </div>
            </div><!-- END container-fluid -->
        </div><!-- END content -->

    </div>
{% endblock %}
